<a href="https://colab.research.google.com/github/Harsimran-Dalal/Challenge-Question-1/blob/main/Challenge_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a python program to sort the list of heterogeneous data.  
e.g.  
L = ["Ram", 1, "Shyam", 2, "Aman", 3]

print(L)

L.sort()

print(L)

In [ ]:
L = ["Ram", 1, "Shyam", 2, "Aman", 3]
L = [str(i) for i in L]

L.sort()
print(L)
#converting string values to numeric

L1 =[]

for i in L:
  try:
    L1.append(int(i))
  except:
    L1.append(i)

print(L1)

['1', '2', '3', 'Aman', 'Ram', 'Shyam']
[1, 2, 3, 'Aman', 'Ram', 'Shyam']

In [ ]:
import time
t1 = time.time()

for i in range(100000):
  for j in range(100000):
    x=900

t2 = time.time()

print("Total TIme",t2-t1)